@media (max-width: 1200px) {
  .top {
    &__slider-title {
      font-size: 62px;
      line-height: 74px;
    }

    &__slider-img {
      max-width: 0px;
      margin-left: 5px;
    }
  }

  .slick-dots {
    margin-top: -200px;
  }
}

@media (max-width: 990px) {
  .footer {
    &__info {
      width: 380px;
    }
  }
}

@media (max-width: 768px) {
  .header__btn {
    display: none;
  }

  .menu {
    &__list-item {
      padding-left: 0;
      & + & {
        padding-right: 0;
      }
    }
  }

  .menu__list-item {
    padding-left: 0;
    & + & {
      padding-right: 0;
    }
  }
  .logo {
    margin: 0;
  }

  .footer {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__info {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 576px) {
  .logo {
    order: -1;
  }

  .header {
    &__inner {
      flex-wrap: wrap;
      position: relative;
      // &::before {
      //   display: none;
      //   position: absolute;
      //   content: "";
      //   z-index: 4;
      //   left: 0;
      //   top: 18%;
      //   right: 0;
      //   width: 100%;
      //   height: 1px;
      //   background-color: rgba(54, 56, 56, 0.7);
      // }
    }
    &__btn-menu {
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
      order: -1;
      span {
        display: block;
        width: 30px;
        height: 2px;
        margin-bottom: 6px;
        background-color: $titleColor;
        border-radius: 3px;
      }
    }
  }

  .menu {
    padding-right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 3;
    text-align: center;
    transform: translateY(-250px);
    &__list {
      display: block;
    }
    &__list-item {
      padding-right: 0;
      padding-left: 0;
      & + & {
        padding-right: 0;
      }
    }
    &__list-link {
      padding: 10px 0;
      color: $titleColor;
    }
  }

  .instruction__item--production {
    margin-left: 5px;
  }

  .instruction__item--measuring {
    padding-top: 30px;
    margin-left: 5px;
  }
}

@media (max-width: 375px) {
  .instruction {
    display: none;
  }
}
